.article{
    padding: 70px 0;
}

.open-account{
    font-family: "Josefin Sans", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff7b00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 45px 15px 45px;
}
.open-account:focus {
    color: #ffffff;
    background-color: #ff7b00;
}
.open-account:hover {
    opacity: .75;
}
.text-container{
    padding: 10px;
}
.text-container> span {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.618;
    margin: 0px 0px 15px;
}